@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Medium.ttf');
}
.container_shop{
    width:900px;
    max-width:90vw;
    margin:auto;
    text-align: center;
    padding-top: 10px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
header  .icon-cart{
    position: relative;
}
.header .icon-cart span{
    display: flex;
    width: 25px;
    height: 25px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
}
/* List Product */
.listProduct .item img{
    height: 300px;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.listProduct .item {
    background-color: #fffffff3;
    padding: 20px;
    height:500px;
    border-radius: 8px;
}

.h2 {
    color: #353432;
}

.listProduct .item h2 {
    font-weight: 500;
    font-size: large;
}

.listProduct .item .price {
    letter-spacing: 5px;
    font-size: small;
    color: #353432;
    font-weight: bold;
    font-size: 1rem;
}

.listProduct .item button {
    background-color: #353432;
    color: #eee;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.listProduct .item button:hover{
    background-color: hsl(79, 63%, 50%);
    color: hsl(180, 12%, 8%);
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
